home/.ssh/known_hosts
home/.ssh/authorized_keys

home/.ssh/control/*
!home/.ssh/control/.keep

home/.ssh/config.d/*
!home/.ssh/config.d/.keep

home/.ssh/*_rsa
home/.ssh/*_rsa.pub

home/.config/gcloud

home/.config/nvim/managed/

home/.config/nvim/swapfiles/
!home/.config/nvim/swapfiles/README.md

home/bin/*
!home/bin/notes
