[submodule "vim/.vim/bundle/vim-simpledb"]
	path = vim/.vim/bundle/vim-simpledb
	url = https://github.com/ivalkeen/vim-simpledb
[submodule "vim/.vim/bundle/synastic"]
	path = vim/.vim/bundle/synastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/.vim/bundle/vim-nerdtree"]
	path = vim/.vim/bundle/vim-nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
