# Folder view configuration files
.DS_Store

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Logs
*.log

# Java
*.class

# IntelliJ
.idea/
*.iml

# Gradle
.gradle
build/

# Maven
target/

.local_config