home/.ssh/*
!home/.ssh/config

home/.ssh/control/*
!home/.ssh/control/.keep

home/.ssh/config.d/*
!home/.ssh/config.d/.keep

home/.config/gcloud

home/.config/git

home/.config/htop

home/.config/hub

home/.config/nvim/managed/
home/.config/nvim/swapfiles/
