[Desktop Entry]
Version=0.1
Name=OnePassword Anywhere
GenericName=OnePassword Anywhere
Comment=OnePassword Anywhere
Exec=/bin/sh -c "cd /home/roboll/Dropbox/1Password/1Password.agilekeychain && /usr/bin/python -m SimpleHTTPServer 49600"

Terminal=false
Type=Application
